<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="./assets/css/main.css">

    <!-- https://github.com/tailwindtoolbox/Minimalist-Blog/blob/master/index.html -->
  </head>
  <body class="bg-slate-900 text-slate-400">
    <div class="p-6 sm:p-10 md:p-16 flex flex-wrap">
      {% include posts.html %}

      <div class="w-full md:w-4/6 order-1 md:order-2 text-slate-300">
        <div class="max-w-md leading-loose tracking-tight">
          {{ content }}
        </div>
      </div>

      {% include contact_me.html %}
      {% include about_me.html %}
  </div>    
</body>
</html>
